<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @itinerary.title %>
</p>

<br>

<div class="col-xs-3 hidden-xs-down">
	<% @events.each do |event| %>
  	<%= render partial: 'events/event_list_item', object: event, as: 'event'%>
	<% end %>
</div>
<div class="col-xs-9">
	<div>
		this is the detail view
	</div>

	<div class="hidden-sm-up">
		<% @events.each do |event| %>
			<%= render partial: 'events/event_list_item', object: event, as: 'event'%>
		<% end %>
	</div>
</div>

