// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.event-list-item {
	text-align: center;
}

.thumbnail-image-size {
  width: 80%;
  height: 10em;
  object-fit: cover;
}

#add-event-list-item {
	height: 12em;
	margin-top: 5em;
}