// Place all the styles related to the Itineraries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#itinerary-roadmap-container {
  height: 200px;
  width: 100%;
  margin-bottom: 1em;
}